<h2>Zaal bewerken</h2>
<br/>
<form>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="naamZaal">Naam zaal:</label>
    <div class="col-lg-10">
      <input type="text" id="naamZaal" name="username" class="form-control" placeholder="Naam">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="beschrijvingZaal">Beschrijving:</label>
    <div class="col-lg-10">
      <textarea id="beschrijvingZaal" name="beschrijvingZaal" class="form-control" placeholder="Beschrijving"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-danger" [routerLink]="['/overviewRooms']">Annuleer</button>
      <button type="submit" class="btn btn-royal" [routerLink]="['/overviewRooms']">Bevestig</button>
    </div>
  </div>

</form>
