<div class="jumbotron">
  <h1 class="display-3 text-center">Let's Go Urban</h1>
  <p class="lead">Voor het reserveren van lokalen moet je hier zijn. Danszalen, computerlokalen of een bar, we hebben het allemaal!</p>
  <div>
    <!--<a class="btn btn-royal" [routerLink]="['/register']">Registreer</a>
    <a class="btn btn-royal" [routerLink]="['/login']">Login</a>-->
    <a class="btn btn-royal btn-lg align-content-center mb-2" [routerLink]="['/overviewRooms']">Bekijk de zalen</a>
  </div>
</div>