<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/']">
      <img height="75" src="../../../assets/lgu-icon.png" alt="icon"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <div class="navbar-nav container">
        <!-- navigatie links-->
        <ul class="navbar-nav mr-auto ml-ms-auto ml-md-0">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            [routerLink]="['/']" class="nav-link"> Home </a></li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            [routerLink]="['/timeline']" class="nav-link">test visuele weergave</a></li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            [routerLink]="['/reserve']" class="nav-link">Zaal reserveren</a></li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            [routerLink]="['/dummie']" class="nav-link">dummiedata</a></li>
        </ul>

        <!-- navigatie rechts-->
        <ul class="navbar-nav ml-auto">
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/profile']">Profiel </a></li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/login']">Aanmelden </a></li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/register']">Registreren </a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()" href="#">Afmelden </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
