  <div class="col-xs-12 col-lg-6">
    <div class="card">
      <img class="card-img-top" src="../../../assets/zaal.PNG" alt="foto van de zaal">
      <div class="card-block">
        <h4 class="card-title pl-1">{{room.name}}</h4>
        <p class="card-text pl-1">{{room.description}}</p>
        <div class="pl-1">
          <!--Volgende knoppen moeten met ngIf want is enkel voor admin-->
          <a *ngIf="authService.loggedIn()" [routerLink]="['/timeline']" class="btn btn-royal">Bewerken</a>
          <a *ngIf="!authService.loggedIn()" [routerLink]="['/timeline']" class="btn btn-danger">Verwijderen</a>
          <!---->
          <a [routerLink]="['/timeline',{roomId:room._id}]" class="btn btn-royal">Beschikbaarheid</a>
        </div>
      </div>
    </div>
  </div>
